*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/.name

.classpath
.DS_Store
.externalNativeBuild
.project
.gradle
.idea
.mtj.tmp
.vscode
.settings

local.properties
maven-repository
mvn-clone
build
captures
objectbox-models
gen
out
target

*.class
*.ctxt
*.ear
*.iml
*.keystore
*.log
*.nar
*.rar
*.tar.gz
*.war