*.iml
.gradle
/local.properties
.DS_Store
/build
/android-systrace-plugin/bin/
/android-systrace-plugin/build/
/android-systrace-sample-*/build/
/captures
.externalNativeBuild
.cxx

.classpath
.DS_Store
.externalNativeBuild
.project
.gradle
.idea
.mtj.tmp
.vscode
.settings

maven-repository
mvn-clone

*.class
*.ctxt
*.ear
*.iml
*.keystore
*.log
*.nar
*.rar
*.tar.gz
*.war
